/* HEADER TOP */
.header__nav {
    position: fixed;
    height: 73px;
    box-shadow: 0 2px 4px hsl(0deg 0% 1% / 10%);
    background-color: #fafcff;
    z-index: 3;
    width: 100%;
}

.header__nav-home {
    margin: 0 173px;
}

.header__nav-item {
    display: inline-block;
    list-style: none;
    line-height: 73px;
}

.header__nav-item-icon {
    float: right;
}

.header__member {
    text-decoration: none;
    font-weight: 500;
}

.header__member:hover {
    color: var(--hover-color);
}

.header__member-first {
    color: var(--hue-color);
}

.header__member-second {
    color: var(--text-color);
}

/* HEADER BOTTOM */
.header__menu {
    width: 328px;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem 2.25rem;
    background-color: hsl(219deg 33% 92% / 0.8);
    backdrop-filter: blur(10px);
    border-radius: 4rem;
    z-index: 3;
}

.header__menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
}

.header__menu-item-link {
    color: var(--text-second-color);
    padding: 0.5rem;
}

.header__menu-item:hover {
    background: linear-gradient(180deg, #49b2a9, #b2d8da);
    box-shadow: 0 2px 4px hsl(0deg 0% 1% / 10%);
}

.header__menu-item:hover .header__menu-item-link {
    color: var(--text-first-color);
}

/* PHẦN TRANG CHỦ */
#home {
    padding: 104px 10px;
}

/* HOME DATA */
.home__data {
    text-align: center;
    padding-top: 2rem;
}

.home__data-greeting {
    color: var(--text-first-color);
}

.home__data-job,
.home__data-greeting {
    font-size: var(--small-font-size);
}

.home__data-name {
    margin-top: 13px;
    margin-bottom: 20px;
    color: var(--text-first-color);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semibold);
}

.home__data-job{
    color: var(--text-second-color);
    margin-bottom: 40px;
}

.home__data-job-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 27px;
}

.button {
    display: inline-block;
    text-decoration: none;
    color: var(--text-first-color);
    background-color: var(--hue-color);
    padding: 0.5rem;    
    border-radius: 0.5rem;
    border: 2px solid var(--hue-color);
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--hover-color);
}

.button-ghost {
    background-color: transparent;
}

/* HOME DATA BOTTOM */
.home__data-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home__data-bottom-social {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
}

.social__item {
    height: 32px;
    width: 32px;
    font-size: 1.25rem;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px hsl(0deg 0% 1% / 10%);
    border-radius: 0.25rem;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.scroll__item,
.social__item {
    list-style: none;
}

.instagram-item {
    margin: 10px 0;
}

.social__item-link {
    color: var(--text-first-color);
}

.social__item:hover .social__item-link {
    color: #fff;
}

.facebook-item:hover {
    background: linear-gradient( 200deg, #16a6fb, #046ee4);
}

.instagram-item:hover {
    background: linear-gradient( 200deg, #a235b4, #fcb34a);
}

.github-item:hover {
    background: #24292f;
}

/* HOME-iMG */
.home__data-bottom-img {
    display: flex;
    justify-content: center;
}

.container-img {
    background: linear-gradient( 180deg, #35aca0, #adddda);
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    width: 70%;
}

.home__img {
    width: 100%;
    height: 100%;
}

/* HOME_SCROLL */
.container-scroll {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.container-scroll a {
    text-decoration: none;
}

.home__data-bottom-scroll {

}

.scroll__item {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--text-first-color);
    margin-bottom: 34px;
}

.scroll__item-name {
    font-size: var(--small-font-size);
    transform: rotate(-90deg);
}

/* PHẦN GIỚI THIỆU */
#introduce {
    padding: 104px 10px;
    text-align: center;
}

.section__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-first-color);
}

.section__title {
    color: var(--hue-color);
    margin-bottom: 3.5rem;
}

.introduce__container {
    display: flex;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 9rem;
}

.introduce__img {
    width: 350px;
}

.introduce__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.info-box {
    padding: 16px 20px;
    background-color: var(--white-color);
    border-radius: 0.75rem;
    box-shadow: 0 2px 8px hsla(219, 48%, 8%, 0.1);
}

.info-icon {
    font-size: 20px;
    color: var(--hue-color);
    margin-bottom: 0.5rem;
}

.info-title {
    font-size: var(--small-font-size);
    color: var(--text-first-color);
}

.info-subtitle {
    font-size: var(--tiny-font-size);
    font-weight: var(--font-semibold);
}

.introduce__description {
    text-align: left;
    margin-bottom: 0.8rem;
    padding-right: 5rem;
    font-size: var(--normal-font-size);
    color: var(--text-second-color);
}

.introduce-button {
    float: left;
}

/* PHẦN KỸ NĂNG */
#skills {
    padding: 104px 10px;
    text-align: center;
}

.skills__container {
    max-width: 968px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.skills__content {
    min-width: 390px;
    background-color: var(--white-color);
    box-shadow: 0 2px 16px hsla( 219, 48%, 8%, 0.1);
    padding: 2rem 4rem;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: #26a699;
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
    text-align: left;
}

.fa-circle-check {
    font-size: 1rem;
    color: #26a699;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 17px;
}

.skills__level {
    font-size: var(--tiny-font-size);
    color: var(--text-second-color);
}

/* PHẦN SẢN PHẨM */
#work {
    padding: 104px 10px;
    text-align: center;
}

.work__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-second-color);
}

.work__card {
    width: 340px;
    background-color: var(--white-color);
    box-shadow: 0 2px 16px hsla( 219, 48%, 8%, 0.1);
    border-radius: 1rem;
    padding: 1.25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.work__img {
    width: 295px;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.work__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-first-color);
    margin-bottom: 0.5rem;
}

.work__button {
    font-size: var(--small-font-size);
    color: var(--hue-color);
    text-decoration: none;
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
}

/* PHẦN LIÊN LẠC */
#contact {
    padding: 104px 10px;
    text-align: center;
}

.contact__container {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
}

.contact__title {
    text-align: center;
    margin-bottom: 1.5rem;
}

.contact__info {
    display: grid;
    gap: 1rem;
    grid-template-columns: 300px;
}

.contact__card {
    background-color: var(--white-color);
    box-shadow: 0 2px 16px hsla( 219, 48%, 8%, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 1.5rem;
    color: var(--text-first-color);
    margin-bottom: 0.25rem;
}

.contact__card-title {
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    color: var(--text-first-color);
}

.contact__card-data {
    display: block;
    margin-bottom: 0.75rem;
    font-size: var(--small-font-size);
    color: var(--text-second-color);
}

.contact__button {
    font-size: var(--small-font-size);
    color: var(--hue-color);
    text-decoration: none;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(0.25rem);
}

.contact__form {
    width: 360px;
    margin: 0 auto;
}

.contact__form-div {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 1.7rem;
    height: 6rem;
    flex: 1;
}

.contact__form-tag {
    position: absolute;
    top: -0.95rem;
    left: 1.25rem;
    font-size: var(--small-font-size);
    padding: 0.25rem;
    z-index: 2;
    background-color: #fafcff;
}

.contact__form-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    border: 2px solid #888b91;
    background: none;
    color: var(--text-second-color);
    outline: none;
    padding: 1rem;
    border-radius: 0.75rem;
    z-index: 1;
}

.contact__form-area {
    height: 15rem;
    margin-bottom: 2.3rem;
}

.contact__form-area textarea {
    resize: none;
    height: 14.8rem;
}

.form-submit {
    float: left;
    padding: 1rem;
    font-size: var(--normal-font-size);
    transition: 0.4s;
    cursor: pointer;
    border: none;
    outline: none;
}

/* FOOTER */
.footer {
    background: #26a699;
}

.footer__container {
    padding: 3rem 0rem 6rem;
    text-align: center;
}

.footer__title {
    margin-bottom: 2rem;
    color: var(--text-first-color);
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.footer__link {
    text-decoration: none;
    color: var(--text-first-color);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    height: 32px;
    width: 32px;
    padding-top: 4px;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color: #21252c;
    color: #26a699;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--text-first-color);
}
 




