/* HEADER TOP */
.header__nav {
    height: 73px;
    box-shadow: 0 2px 4px hsl(0deg 0% 1% / 10%);
}

.header__nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 173px;
}

.header__nav-item {
    display: inline-block;
    list-style: none;
    line-height: 73px;
}

.header__member {
    text-decoration: none;
    font-weight: 500;
}

.header__member:hover {
    color: var(--hover-color);
}

.header__member-first {
    color: var(--hue-color);
}

.header__member-second {
    color: var(--text-color);
}

/* HEADER BOTTOM */
.header__menu {
    width: 328px;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1rem 2.25rem;
    background-color: #e3e8f1;
    backdrop-filter: blur(10px);
    border-radius: 4rem;
}

.header__menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    list-style: none;
    display: inline-block;
}

.header__menu-item-link {
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px hsl(0deg 0% 1% / 10%);
}

.header__menu-item-link:hover {
    background: linear-gradient(180deg, #49b2a9, #b2d8da);
}

